@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 340px;
  --breakpoint-md: 580px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 1024px;
  --breakpoint-2xl: 1280px;

  --font-Sans: "Noto Sans", sans-serif;

  --color-neutral-0: hsl(200, 60%, 99%);
  --color-neutral-100: hsl(0, 0%, 93%);
  --color-neutral-200: hsl(217, 61%, 90%);
  --color-neutral-300: hsl(0, 0%, 78%);
  --color-neutral-600: hsl(226, 11%, 37%);
  --color-neutral-700: hsl(225, 23%, 24%);
  --color-neutral-800: hsl(226, 25%, 17%);
  --color-neutral-900: hsl(227, 75%, 14%);
  --color-red-400: hsl(3, 86%, 64%);
  --color-red-500: hsl(3, 71%, 56%);
  --color-red-700: hsl(3, 77%, 44%);
}
:root {
  --gradient-light: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --gradient-dark: linear-gradient(180deg, #040918 0%, #091540 100%);
  --background-color: var(--gradient-light);
  --navbar-bg: var(--color-neutral-0);
  --text-primary: var(--color-neutral-900);
  --text-secondary: var(--color-neutral-0);
  --toggle-bg: var(--color-neutral-100);
  --toggle-hover: var(--color-neutral-300);
  --active-bg: var(--color-red-700);
  --inactive-bg: var(--color-neutral-0);
  --slider-bg: var(--color-red-700);
  --card-border: var(--color-neutral-300);
  --p-text: var(--color-neutral-600);
}
.dark {
  --background-color: var(--gradient-dark);
  --navbar-bg: var(--color-neutral-800);
  --text-primary: var(--color-neutral-0);
  --text-secondary: var(--color-neutral-900);
  --toggle-bg: var(--color-neutral-700);
  --toggle-hover: var(--color-neutral-600);
  --active-bg: var(--color-red-500);
  --inactive-bg: var(--color-neutral-700);
  --slider-bg: var(--color-red-400);
  --card-border: var(--color-neutral-700);
  --p-text: var(--color-neutral-300);
}

@layer base {
  body {
    min-height: 100dvh;
    font-family: "Noto Sans", sans-serif;
    background: var(--background-color);
    color: var(--text-primary);
    padding: 0 1rem;
  }
  button {
    cursor: pointer;
    transition: 0.3s;
  }
  button:focus-visible {
    outline: 2px solid var(--color-red-400);
    outline-offset: 3px;
  }
}

@layer components {
  .btn {
    background-color: var(--inactive-bg);
    padding: 8px 20px;
    border-radius: 20px;
    transition: all 0.3s;
  }
  [data-active="true"] {
    background: var(--active-bg);
    color: var(--text-secondary);
  }
  [data-active="true"]:hover {
    opacity: 80% !important;
  }
  .card {
    @apply shadow-sm bg-(--navbar-bg) p-4 rounded-[20px] hover:-translate-y-1 hover:shadow-xl transition duration-300;
  }
  .card-header {
    @apply flex gap-3;
  }
  .card-img {
    @apply w-[42px] h-[42px] md:w-[50px] md:h-[50px];
  }
  .card-info {
    @apply mb-4;
  }
  .card-title {
    @apply font-bold text-lg mb-2;
  }
  .card-description {
    @apply text-sm leading-[1.5] text-(--p-text);
  }
  .card-control {
    @apply flex items-center justify-between mt-3
  }
  .card-btn {
    @apply border border-(--card-border) font-[500] px-4 py-1 rounded-[20px] hover:bg-(--active-bg) hover:text-(--text-secondary)
  }
  .card-label {
    @apply relative inline-block w-[50px] h-6
  }
  .card-slider {
    @apply absolute w-full h-full cursor-pointer bg-(--card-border) transition duration-300 rounded-[34px] peer-checked:bg-(--slider-bg) peer-checked:before:translate-x-[26px]
  }
  .card-slider::before {
    content: "";
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s;
  }
}
